/* Typical order:
* 1. Box Model (margin, border, padding, width, height, overflow)
* 2. Layout (display, position, flex/grid properties, float, clear)
* 3. Visual (background, box-shadow, border-color, opacity)
* 4. Typography (font-family, font-size, font-weight, color, text-align, text-decoration)
* 5. Interaction (cursor, pointer-events, user-select, transition)
*/
/*
1. Wrapper and Container
2. Grid
3. Column
4. Text Input
5. Button
*/

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  margin: 0;
  padding: 0;
  border: 0;

  font-family: Helvetica, Arial, sans-serif;
}

main {
  margin: 0;
  padding: 0;
  border: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5rem;
  padding-top: 10px;

  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.3;    /* Optional: better text rhythm */
}

p {
  margin-bottom: 0.5rem;
  padding: 0;

  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.3;    /* Optional: better text rhythm */
}

/* 1. Wrapper and Container */
.wrapper {
  margin: 0;
  padding: 0;
  height: 100vh;

  display: flex;
  flex-direction: column; /* Stack the Hero components vertically */
}

.container {
  margin: 0 auto;
  padding: 0;
  width: 1440px;
  max-width: 90%;
  min-height: 80vh;

  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
/* 1. Wrapper and Container Ends */

/* 2. Grid */
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  box-sizing: border-box;
  align-self: initial;
}
@media (max-width: 800px) {
  .grid {
    grid-template-columns: repeat(8, 1fr);
  }
}

.grid-item {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  white-space: pre-wrap;
  justify-content: center;
}

.grid1 {grid-column: span 1}
.grid2 {grid-column: span 2}
.grid3 {grid-column: span 3}
.grid4 {grid-column: span 4}
.grid5 {grid-column: span 5}
.grid6 {grid-column: span 6}
.grid7 {grid-column: span 7}
.grid8 {grid-column: span 8}
.grid9 {grid-column: span 9}
.grid10 {grid-column: span 10}
.grid11 {grid-column: span 11}
.grid12 {grid-column: span 12}
/* 2. Grid Ends */

/* 3. Column */
.column {
  display: flex;
  flex-wrap: wrap;
  background-color: transparent;
  white-space: normal;  /* Allow wrapping of text */
  word-wrap: break-word; /* Break long words */
  word-break: break-word; /* Break words if they overflow */

}

.col-1 { width: 8.33%; }
.col-2 { width: 16.66%; }
.col-3 { width: 25%; }
.col-4 { width: 33.33%; }
.col-5 { width: 41.66%; }
.col-6 { width: 50%; }
.col-7 { width: 58.33%; }
.col-8 { width: 66.66%; }
.col-9 { width: 75%; }
.col-10 { width: 83.33%; }
.col-11 { width: 91.66%; }
.col-12 { width: 100%; }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  box-sizing: border-box;
  border: 0;
  padding: 0 20px;
  text-align: justify;
  background-color: #deebf7
}
/* 3. Column Ends */

/* 4. Table */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0;
  table-layout: auto;
  font-family: sans-serif;
  font-size: 14px;
}
@media (max-width: 800px) {
  .hide-on-mobile {
    display: none;
  }
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
  vertical-align: middle;
}

th {
  background-color: #08519c;
  color: white;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f7fbff;
}

tr:hover {
  background-color: #deebf7;
}

td.description {
  white-space: normal;
  word-wrap: break-word;
  word-break: break-word;
}

td.checkbox {
  text-align: center;
  padding: 0;
  height: 15px;
  width: 15px;
}
/* 4. Table Ends */

/* 5. Text Input */
textarea {
  font-family: Helvetica, sans-serif;
  margin: 0;
  border: 0;
  padding: 0;
  width: 100%;
  height: 100px;
  background-color: #fee6ce;
}

select, input {
  font-family: Helvetica, sans-serif;
  margin: 0;
  border: 0;
  padding: 0;
  width: 100%;
  height: 25px;
  background-color: #fee6ce;
}

input::placeholder {
  color: #6baed6;
}

select:hover, input:hover {
  background-color: #fdd0a2;
}

/* Hide the spinner in Webkit browsers (Chrome, Safari) */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide the spinner in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0;
}
/* 4. Text Input Ends */

/* 5. Button */
.container button {
  flex: 0 0 auto;
  background-color: #c6dbef;
  margin: 0;
  border: 0;
  border-radius: 2px;
  padding: 5px 0;
  text-align: center;
  text-decoration: none;        /* Remove underline */
  color: #08306b;
  display: block;               /* Ensure links are block-level elements */
  height: 25px;
  width: 100%;
}

.container button:hover {
  background-color: #08519c;
  color: #f7fbff;
  cursor: pointer;
}

.button-long {
  flex: 0 0 auto;
  background-color: #c6dbef;
  margin: 0;
  border: 0;
  border-radius: 2px;
  padding: 5px 0;
  text-align: center;
  text-decoration: none;        /* Remove underline */
  color: #08306b;
  display: block;               /* Ensure links are block-level elements */
  height: 25px;
  width: 100%;
}

.button-long:hover {
  background-color: #08519c;
  color: #f7fbff;
  cursor: pointer;
}
/* 5. Button Ends */

.grecaptcha-badge {
  opacity: 0.3;
  transition: opacity 0.3s;
}

.grecaptcha-badge:hover {
  opacity: 1;
}