/* Wrapper to center table */
.sudokuWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* Sudoku table */
.sudokuTable {
    border-collapse: collapse;
    table-layout: fixed;   /* equal columns */
    margin: 0 auto;
    width: auto !important; /* override global 100% */
}

/* Cells */
.sudokuCell {
    width: 40px;
    height: 40px;
    border: 1px solid #000;
    text-align: center;
    vertical-align: middle;
    padding: 0;
    background-color: #fff;
    box-sizing: border-box; /* make borders part of width */
}

/* Fixed/pre-filled cells */
.sudokuCellFixed {
    background-color: #f7fbff;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    cursor: default;
}

/* Subgrid thicker borders */
.subgridBorderRight {
    border-right: 2px solid #000;
}
.subgridBorderBottom {
    border-bottom: 2px solid #000;
}

/* Prevent hover/focus background */
.sudokuCell:hover,
.sudokuCellFixed:hover {
    background-color: #f7fbff;
}

/* Input cells */
.sudokuInput {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    text-align: center;
    font-size: 16px;
    background-color: #fff;
    font-family: Helvetica, sans-serif;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: textfield;
}
.sudokuInput:hover,
.sudokuInput:focus {
    background-color: #fff !important;
}

/* Loading overlay */
.sudokuLoading {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}
