/* Typical order:
* 1. Box Model (margin, border, padding, width, height, overflow)
* 2. Layout (display, position, flex/grid properties, float, clear)
* 3. Visual (background, box-shadow, border-color, opacity)
* 4. Typography (font-family, font-size, font-weight, color, text-align, text-decoration)
* 5. Interaction (cursor, pointer-events, user-select, transition)
*/
/*
1. Wrapper and Container
2. Grid
3. Column
4. Text Input
5. Button
*/


/* Layout container */
.sudokuContainer {
    margin: 0;

    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

/* Wrapper around each table */
.sudokuWrapper {
    display: flex;
    justify-content: center;
}

/* Sudoku table */
.sudokuTable {
    margin: 0;
    border: none;
    border-collapse: collapse;
    border-spacing: 0;

    table-layout: fixed;   /* equal columns */
    width: auto
}

/* Cells */
.sudokuCell {
    border: 1px solid #000;
    padding: 0;
    box-sizing: border-box;

    width: 50px;
    min-width: 40px;
    height: 40px;

    text-align: center;
    vertical-align: middle;

    background-color: #fff;
}

/* Fixed/pre-filled cells */
.sudokuCellFixed {
    background-color: #efedf5;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    cursor: default;
}

/* Prevent hover/focus background */
.sudokuCell:hover,
.sudokuCellFixed:hover {
    background-color: #efedf5;
}

/* Sudoku cell candidates overlay */
.candidatesOverlay {
    position: absolute;
    bottom: 0;
    left: 1px;
    right: 1px;
    display: grid;
    line-height: 1;
    text-align: center;
    color: #fb6a4a;
    pointer-events: none; /* allows input to be editable */
    gap: 0;
    font-size: 10px; /* default, can be overridden inline for gridSize */
}


/* Input cells */
.sudokuInput {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    text-align: center;
    font-size: 16px;
    background-color: #fff;
    font-family: Helvetica, sans-serif;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: textfield;
}
.sudokuInput:hover,
.sudokuInput:focus {
    background-color: #fff;
}

.sudokuCellFocus {
    outline: 2px solid #d94801; /* subtle orange highlight */
    outline-offset: -2px; /* keeps it inside the cell */
}

.hintGridWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
}

.hintSudokuTable {
    width: calc(26px * 9);
    table-layout: fixed;
    border-collapse: collapse;
    margin: 0;
}

.hintSudokuCell {
    width: 26px;
    height: 26px;
    border: 1px solid #000;
    padding: 0;

    text-align: center;
    vertical-align: middle;
}

.hintCellButton {
    width: 100%;
    height: 100%;

    border: none;
    box-sizing: border-box;

    font-size: 14px;
    cursor: pointer;
}

.hintCellButton:not(:disabled) {
    color: #000000;
}

.hintCellButton:disabled {
    background-color: #fff;
    color: #fff;
    cursor: default;
}

.hintCellButton:hover:disabled {
    background-color: #fff;
    color: #fff;
    cursor: default;
}


/* Subgrid */
.subgridBorderRight {
    border-right: 2px solid #000;
}

.subgridBorderBottom {
    border-bottom: 2px solid #000;
}
