/* Typical order:
* 1. Box Model (margin, border, padding, width, height, overflow)
* 2. Layout (display, position, flex/grid properties, float, clear)
* 3. Visual (background, box-shadow, border-color, opacity)
* 4. Typography (font-family, font-size, font-weight, color, text-align, text-decoration)
* 5. Interaction (cursor, pointer-events, user-select, transition)
*/

.headerBanner {
    height: 13.5vh;
    overflow: hidden;

    background-color: #f7fbff;

    font-size: small;
}

.topnavContainer {
    max-height: 10vh;
    width: 100%;
    overflow: hidden;

    display: flex;
    flex-wrap: nowrap;

    background-color: #deebf7;

    font-size: small;
}

.topnavContainer p {
    margin: 2px;
    padding: 5px 10px;
    border: 0;
    border-radius: 2px;

    display: block;
    flex-shrink: 0;
    white-space: nowrap;

    background-color: transparent;

    color: #08306b;
    text-align: right;
    text-decoration: none;
}

.topnavContainer button {
    margin: 2px;
    padding: 5px 10px;
    border: 0;
    border-radius: 2px;

    display: block;
    flex-shrink: 0;
    white-space: nowrap;

    background-color: transparent;

    color: #08306b;
    text-align: center;
    text-decoration: none;
}

.topnavContainer button:hover {
    background-color: #08519c;
    color: #f7fbff;

    cursor: pointer;
}

.topnavContainer .rightmost {
    margin-left: auto;

    display: flex;

    align-items: center;
    gap: 0.5rem;
}
