.headerBanner {
    background-color: #f7fbff;
    height: 15vh;
    overflow: hidden;
    font-size: small;
}

.topnav {
    display: flex;
    flex-wrap: nowrap;        /* no wrapping */
    overflow: hidden;         /* hide overflow, no scroll */
    background-color: #deebf7;
    max-height: 10vh;
    font-size: small;
    width: 100%;
    box-sizing: border-box;
}

.topnav button {
    flex-shrink: 0;           /* prevent shrinking */
    white-space: nowrap;      /* prevent text wrap inside buttons */
    padding: 5px 10px;
    margin: 2px;
    border: 0;
    border-radius: 2px;
    color: #08306b;
    background-color: transparent;
    text-align: center;
    text-decoration: none;
    display: block;
}

.topnav button:hover {
    background-color: #08519c;
    color: #f7fbff;
    cursor: pointer;
}

.topnav .rightmost {
    margin-left: auto;
}
