/* Typical order:
* 1. Box Model (margin, border, padding, width, height, overflow)
* 2. Layout (display, position, flex/grid properties, float, clear)
* 3. Visual (background, box-shadow, border-color, opacity)
* 4. Typography (font-family, font-size, font-weight, color, text-align, text-decoration)
* 5. Interaction (cursor, pointer-events, user-select, transition)
*/

.imageContainer {
    position: relative;
    overflow: hidden;
}

.imageContainer img {
    min-width: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: center;
}

.innerContainer {
    position: absolute;
    top: 5%;
    left: 5%;
    height: 90%;
    width: 90%;

    max-width: 1280px;

    color: #f7fbff;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    line-height: 1;

    word-wrap: break-word;
    white-space: normal;
    overflow-wrap: break-word;

    text-shadow: 2px 2px 10px #08306b;
}

.innerContainer h1,
.innerContainer p {
    font-family: Helvetica, Arial, sans-serif;
}

.button {
    position: absolute;
    bottom: 5%;

    margin: 0;
    padding: 10px 20px;
    border: 0;
    border-radius: 2px;

    background-color: #08519c;
    color: #f7fbff;
    text-decoration: none;
}

.button:hover {
    background-color: #f7fbff;
    color: #08519c;
    cursor: pointer;
}


