.imageContainer {
    position: relative;
    overflow: hidden;
}

.imageContainer img {
    min-width: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: center;
}

.innerContainer {
    position: absolute;
    top: 5%;
    left: 5%;
    height: 90%;
    width: 90%;
    color: #f7fbff;
    font-size: 18px;
    text-align: left;
    font-weight: bold;
    max-width: 1280px;
    line-height: 1;
    word-wrap: break-word;
    white-space: normal;
    overflow-wrap: break-word;
    text-shadow: 2px 2px 10px #08306b;
}

.button {
    position: absolute;
    bottom: 5%;
    background-color: #08519c;
    margin: 0;
    border: 0;
    border-radius: 2px;
    padding: 10px 20px;
    text-decoration: none;
    color: #f7fbff;
}

.button:hover {
    background-color: #f7fbff;
    color: #08519c;
    cursor: pointer;
}
