/* Typical order:
* 1. Box Model (margin, border, padding, width, height, overflow)
* 2. Layout (display, position, flex/grid properties, float, clear)
* 3. Visual (background, box-shadow, border-color, opacity)
* 4. Typography (font-family, font-size, font-weight, color, text-align, text-decoration)
* 5. Interaction (cursor, pointer-events, user-select, transition)
*/

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.wrapper {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.container {
  margin: 0 auto;
  width: 1440px;
  max-width: 90%;

  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.centered {
  height: 80vh;

  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  margin: 0;
  padding: 0;
  border: 0;

  font-family: Helvetica, Arial, sans-serif;
}

main {
  margin: 0;
  padding: 0;
  border: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 0.5rem;

  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.3;    /* Optional: better text rhythm */
}
