/* Typical order:
* 1. Box Model (margin, border, padding, width, height, overflow)
* 2. Layout (display, position, flex/grid properties, float, clear)
* 3. Visual (background, box-shadow, border-color, opacity)
* 4. Typography (font-family, font-size, font-weight, color, text-align, text-decoration)
* 5. Interaction (cursor, pointer-events, user-select, transition)
*/

.botnavContainer {
    width: 100%;
    max-height: 10vh;
    overflow: hidden;

    display: flex;
    flex-wrap: nowrap;

    background-color: #deebf7;

    font-size: small;
}

.botnavContainer button {
    margin: 2px;
    padding: 5px 10px;
    border: 0;
    border-radius: 2px;

    display: block;
    flex-shrink: 0;
    white-space: nowrap;

    background-color: transparent;

    color: #08306b;
    text-align: center;
    text-decoration: none;

    cursor: pointer;
}

.botnavContainer button:hover {
    background-color: #08519c;
    color: #f7fbff;

    cursor: pointer;
}
